In [38]:
import pandas as pd
import numpy as np

In [39]:
tournament= pd.read_csv(r"C:\Users\giada\Desktop\PROGETTO LAB\data2021\tournament_finale.csv")

In [40]:
tournament.head()

,tourney_id,date_id,tourney_name,surface,draw_size,tourney_level,tourney_spectators,tourney_revenue
0,2019-M020/A/brisbane,20181231,Brisbane,Hard,32,A,3928,742618.69
1,2019-M020/P/brisbane,20181231,Brisbane,Hard,32,P,3928,742618.69
2,2019-0451/A/doha,20181231,Doha,Hard,32,A,2923,550943.19
3,2019-0891/A/pune,20181231,Pune,Hard,32,A,4062,1005592.39
4,2019-0301/A/auckland,20190107,Auckland,Hard,32,A,2784,489426.09

In [41]:
tournament.shape

(4911, 8)

In [42]:
#controllo se ha duplciati
column_values = tournament[["tourney_id"]].values.ravel()
unique_values =  pd.unique(column_values)
unique_values.shape

(4911,)

In [43]:
#vediamo se ci sono valori nulli
tournament.isnull().sum()

tourney_id             0
date_id                0
tourney_name           0
surface               62
draw_size              0
tourney_level          0
tourney_spectators     0
tourney_revenue        0
dtype: int64

In [44]:
#vediamo quali sono le distribuzioni di questo attributo
tournament["surface"].value_counts()

Hard      2599
Clay      2052
Grass      110
Carpet      88
Name: surface, dtype: int64

In [45]:
#avendo pochi valori nulli, li sostituisco con la moda
tournament['surface'] = tournament['surface'].replace(np.nan,"Hard")

In [46]:
#controlliamo se sono stati rimossi
tournament.isnull().sum()

tourney_id            0
date_id               0
tourney_name          0
surface               0
draw_size             0
tourney_level         0
tourney_spectators    0
tourney_revenue       0
dtype: int64

In [47]:
#salvare il dataset 
tournament.to_csv(r'C:\Users\giada\Desktop\PROGETTO LAB\tab da inserire\tournament_clean.csv', index = False, header = True)