In [11]:
import pandas as pd
import numpy as np

In [12]:
match= pd.read_csv(r"C:\Users\giada\Desktop\PROGETTO LAB\tab da inserire\match_clean.csv")
tournament= pd.read_csv(r"C:\Users\giada\Desktop\PROGETTO LAB\tab da inserire\tournament_clean.csv")
players= pd.read_csv(r"C:\Users\giada\Desktop\PROGETTO LAB\tab da inserire\players_clean.csv")

In [13]:
match.shape

(185590, 11)

In [14]:
tournament.shape

(4911, 8)

In [15]:
players.shape

(10123, 7)

In [16]:
players.head()

   player_id country_id                name hand   ht  byear_of_birth sex
0     105453        JPN       Kei Nishikori    R  178            1989   M
1     106421        RUS     Daniil Medvedev    R  182            1996   M
2     104542        FRA  Jo-Wilfried Tsonga    R  180            1985   M
3     104871        FRA       Jeremy Chardy    R  182            1987   M
4     200282        AUS      Alex De Minaur    R  170            1999   M

Dividiamo il file "players" in 15 chunk da 1000 righe ciascuno, per eseguire il commit al termine di ogni chunk.

In [17]:
number_of_chunks=15

In [18]:
for idx, chunk in enumerate(np.array_split(players, number_of_chunks)):
    chunk.to_csv(r'C:\Users\giada\Desktop\PROGETTO LAB\tab da inserire\chunk_players\players_'+str(idx)+'.csv', index=False, header=True)

Dividiamo il file "tournament" in 5 chunk da 1000 righe ciascuno.
Mentre dividiamo "match" in 190 chunk sempre da 1000 righe ciascuno.

In [19]:
chunks_tourn=5
chunks_match=190

In [20]:
for idx, chunk in enumerate(np.array_split(tournament, chunks_tourn)):
    chunk.to_csv(r'C:\Users\giada\Desktop\PROGETTO LAB\tab da inserire\chunk_tournament\tournament_'+str(idx)+'.csv', index=False, header=True)
for idx, chunk in enumerate(np.array_split(match, chunks_match)):
    chunk.to_csv(r'C:\Users\giada\Desktop\PROGETTO LAB\tab da inserire\chunk_match\match_'+str(idx)+'.csv', index=False, header=True)